.btn {
	display: inline-block;
	font-size: var(--fs-base);
	font-weight: var(--fw-norma);
	line-height: 1.5;
	color: inherit;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: rem(10) rem(20);
	border-radius: var(--rounded-md);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	&.btn-primary {
		background-color: var(--clr-primary);
		&:hover {
			background-color: var(--clr-primary-hover);
		}
	}
	&.btn-secondary {
		color: white;
		background-color: var(--clr-secondary);
		&:hover {
			color: white;
			background-color: var(--clr-secondary-hover);
		}
	}
	&.btn-link {
		padding: 0;
		width: fit-content;
	}
}
